<figure class="posts__image">
  <img src={{imageUrl}}
       alt={{imageAlt}}>
  <figcaption class="visually-hidden">{{imageCaption}}</figcaption>
</figure>
<div class="posts__content">
  <div class="posts__category visually-hidden">{{category}}</div>
  <h3 class="posts__title">{{title}}</h3>
  <div class="posts__footer">
          <span class="posts__date">
            <time datetime={{dateTime}}>{{dateTimeShow}}</time>
          </span>
    <span class="posts__divider"></span>
    <span class="posts__duration">{{readingTime}}</span>
  </div>
</div>
{{yield}}