{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.email}} {{session.currentUser.displayName}}
  <button class="auth-as-twitter" {{action (perform signOut)}}>Sign out</button>
{{else}}
  {{#hoc-form formClass='sign-in-form' onFormSubmit=(perform signIn provider email password) as |form|}}

    {{#form.fields fieldsClass='sign-in-form__field-wrapper' as |field|}}
      {{field.input email 'Email' 'Your email' 'sign-in-form__input'
                      type='email'}}
      {{field.input password 'Password' 'Your password' 'sign-in-form__input'
                      type='password'}}
    {{/form.fields}}

    {{#form.buttons buttonsClass='sign-in-form__button-wrapper' as |button|}}
      {{button.button 'reset' 'Cancel' 'sign-in-form__button--reset'}}
      {{button.button 'submit' 'Submit' 'sign-in-form__button--submit'}}
    {{/form.buttons}}

    {{#form.socials socialsClass='sign-in-form__social-wrapper' as |social|}}
      {{social.button 'button' 'Sign in with Google' 'sign-in-form__social-button'
                      click=(action (perform signIn 'google'))}}
      {{social.button 'button' 'Sign in with Twitter' 'sign-in-form__social-button'
                      click=(action (perform signIn 'twitter'))}}
      {{social.button 'button' 'Sign in with Facebook' 'sign-in-form__social-button'
                      click=(action (perform signIn 'facebook'))}}
    {{/form.socials}}

  {{/hoc-form}}
{{/if}}
