{{#link-to 'posts.post' model.id}}
  <figure class="post-card__image">
    <img src={{model.imgUrl}} alt={{model.imgAlt}}>
    <figcaption class="visually-hidden"><h2>{{model.imgCaption}}</h2></figcaption>
  </figure>
  <div class="post-card__content">
    <div class="post-card__category visually-hidden">{{model.category}}</div>
    <h3 class="post-card__title">{{model.title}}</h3>
    <div class="post-card__footer">
      <span class="post-card__date">
        <time datetime={{model.timestamp}}>{{moment-from-now model.timestamp}}</time>
      </span>
      <span class="post-card__divider"></span>
      <span class="post-card__duration">{{model.readingTime}} min read</span>
    </div>
  </div>
{{/link-to}}
{{!-- TODO: allow edit/delete/create only for admin --}}
{{#if session.currentUser}}
  {{#link-to 'posts.edit' model.id class='button' tagName='button'}}Edit post{{/link-to}}
  <button {{action (perform deletePost model)}}>Delete</button>
{{/if}}
