<div>
  <div>
    {{input type="text" value=model.title placeholder='Title'}}
  </div>
  <div>
    {{textarea type="text" value=model.body placeholder='Body'}}
  </div>
  <div>
    {{input type="text" value=model.imgUrl placeholder='Image URL'}}
  </div>
  <div>
    {{input type="text" value=model.imgAlt placeholder='Image alt'}}
  </div>
  <div>
    {{input type="text" value=model.imgCaption placeholder='Image caption'}}
  </div>
  <div>
    {{input type="text" value=model.category placeholder='Category'}}
  </div>
  <div>
    <button type="submit" {{action 'savePost' model}}>Save new post</button>
  </div>
</div>
{{outlet}}