{{#hoc-form formClass='post-form' onFormSubmit=(perform createPost title body imgUrl imgAlt imgCaption category) as |form|}}

  {{#form.fields  fieldClass='post-form__field-wrapper' as |field|}}
    {{field.input title 'Title:' 'Title' inputClass='post-form__input'}}
    {{pell-editor value=body onChange=(action (mut body))}}
    {{field.input body 'Body:' 'Body' inputClass='post-form__input'}}
    {{field.input imgUrl 'Image URL' 'URL' inputClass='post-form__input'}}
    {{field.input imgAlt 'Image alt' 'URL alt' inputClass='post-form__input'}}
    {{field.input imgCaption 'Image caption' 'Caption' inputClass='post-form__input'}}
    {{field.input category 'Category' 'Category' inputClass='post-form__input'}}
  {{/form.fields}}

  {{#form.buttons buttonsClass='post-form__button-wrapper' as |button|}}
    {{button.button 'reset' 'Cancel' buttonClass='post-form__button--reset'}}
    {{button.button 'submit' 'Submit' buttonClass='post-form__button--submit'}}
  {{/form.buttons}}

  {{#if error}}
    <p class='error-comunicat'>Error: {{error}}</p>
  {{/if}}

{{/hoc-form}}
